.dash {
  width: 70%;
  margin: 0 auto;
}

.dash-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.dash-search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.dash-search-bar {
  height: 25px;
  width: 65%;
}

.dash-check-box {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dash-post-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.dash-post-box > h3 {
  font-size: 30px;
}

@media (max-width: 600px) {
  .dash {
    margin-left: 5%;
    width: 65vw;
  }
  .dash-filter {
    display: block;
  }
  .dash-check-box {
    width: 100%;
  }
  .dash-search-box {
    width: 100%;
    flex-direction: column;
    height: 15vh;
    margin-top: 5%;
  }
  .dash-post-box {
    flex-direction: column;
  }
  .author-box {
    justify-content: space-around;
    width: 100%;
  }
}
